body {
 margin: 0;
 font-family: 'Poppins', sans-serif;
 background-color: #fff;
 scroll-behavior: smooth;
}

.hero {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 90vh;
 /* background-image: url('./assets/hero.jpg'); */
 background-size: cover;
 color: white;
 text-align: center;
 animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}
